<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Our Blog</h1>
    <p class="lead blog-description">Welcome to our blog posts page, if there is any further information you need please get in touch.</p>
    <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>