<div class="app-card-container about">
  <div class="card">
    <h1>About Us</h1>

      <hr>

      <div class="row">
        <div class="col-md-4">
          <%= image_tag "profile.jpg", width: 250, altl: "profile image" , class: "profile-img"%>
        </div>

        <div class="col-md-8">
          <p>Here is a quick tip of peak performers that you can use to improve your daily performance and achieve yourInspector goals faster.

          The fact is successful people take personal inventory on a regular basis. It’s just like any other metric you look at in your business.</p>

          <p>Remember,  you cannot measure what you don’t track.

          If you were in sales your metrics would be things like the number appointments versus the number of closes you made in a day, week and month.
          </p>
        </div>
</div>

