<h1>About</h1>
<hr>
<p>Here is a quick tip of peak performers that you can use to improve your daily performance and achieve yourInspector goals faster.

The fact is successful people take personal inventory on a regular basis. It’s just like any other metric you look at in your business. Remember, you cannot measure what you don’t track.

If you were in sales your metrics would be things like the number appointments versus the number of closes you made in a day, week and month.</p>

<p>If you have a website your metrics should be things like how much traffic went to the site, how many of those people signed up for your newsletter,  how many people dropout at each step of the sales funnel and how many customers or sales you end up with on a daily, weekly and monthly basis. Those are the basic metrics you need to run your business.

Your personal life is no different, you need to evaluate yourself and your skill sets on a regular basis as these are your tools that determine your level of success.</p>
