<div class="app-card-container">
  <div class="card">
    <h1>Do you have a project that you would like to discuss?</h1>

    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3>Office</h3>

        <p>7150 E Camelback Rd, Suite 444, Scottsdale, AZ 85251</p>

         <h3>Phone</h3>

        <p><%= number_to_phone "0877558618" %></p>

        <h3>Email</h3>

            <p><a href="mailto:peter@stonetex.ie?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

    <div class="col-sm-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.72941773759!2d-6.261230985016835!3d53.348099682282246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e84f90018ab%3A0x5325a856d66bf3ba!2s7+O&#39;Connell+Street+Lower%2C+North+City%2C+Dublin+1%2C+D01+X324!5e0!3m2!1sen!2sie!4v1548075034620" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
 </div>
</div>

