<div class=" special-card inner cover">
   <h1 class="cover-heading">Welcome</h1>
    <p class="lead">We are Ireland's Leading Provider of Marble and Concrete Floor Polishing, Restoration and Repair Services, With Over 20 Years Experience and Hundreds of Completed Projects..  </p>
    <p class="lead">
      <%= link_to "About Us", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>

