<div class="inner cover">
   <h1 class="cover-heading">Welcome</h1>
    <p class="lead">Save time and money with the UK's leading visitor management software. Trusted by over 4000 education organisations, our software allows you to accurately ...</p>
    <p class="lead">
      <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>

