<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>
      There is a New Message From StoneTex Ltd contact form
      This message was sent from <%= "#(@name), (@email)."%>
    </p>
    <p>
      <%= "#(@message)."%>
    </p>
  </body>
</html>